@import "tailwindcss";

@theme {
  --font-anton: "Anton", sans-serif;
  --color-gwen-red: oklch(0.83 0.02 16.87);
  --color-gwen-pink: #fc60b1;
}

:root {
  /* background-color: black; */
  color-pink: #fc60b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}